html(lang="en")
  head
    title= "Pyramid-ify your writing!"
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
  body
    div.container.center.text-center
        h1 Pyramid-ify your writing!
        h3 Apply the 'pyramid principle' to your writing: start with the answer, and substantiate it with further points.
        h3 Stop burying the lede!
        style.
          textarea {
            font-family: 'Arial', Arial, monospace;
          }
        div.container.center
          form(
              method="GET"
              action="/prompt/"
          )
              label(for="prompt") Enter what you want to pyramid-ify:
              br 
              textarea#prompt(name="prompt" rows="10" cols="100")
              br
              br
              input(type="submit" value="Go !" class="button")
        p
          | Props as always to 
          a(href='https://en.wikipedia.org/wiki/Barbara_Minto',target='_blank') Barbara Minto
          | .
    
    div.container.footer.text-center
      p
        | © 
        a(href='https://github.com/stevehind') Steve
        | , 2022.