body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: lightgray;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 1px;
    border: 1px;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 3px;
    border: 3px;
}

.center {
    margin: auto;
    width: 80%;
    border: 3px;
    padding: 10px;
}

.center div {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

